/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}*/
.login2-body{
    display: grid;
    /* height: 100%; */
    height: 100vh;
    width: 100%;
    place-items: center;
    background: #f2f2f2;
} 
/* background: linear-gradient(-135deg, #c850c0, #4158d0); */
::selection{
    background: #4158d0;
    color: #fff;
}
.login2-wrapper{
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.login2-wrapper .login2-title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.login2-wrapper .login2-form{
  padding: 10px 30px 50px 30px;
}
.login2-wrapper .login2-form .login2-field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.login2-wrapper .login2-form .login2-field .login2-input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.login2-wrapper .login2-form .login2-field .login2-input:focus,
.login2-form .login2-field .login2-input:valid{
  border-color: #4158d0;
}
.login2-wrapper .login2-form .login2-field .login2-label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.login2-form .login2-field .login2-input:focus ~ .login2-label,
.login2-form .login2-field .login2-input:valid ~ .login2-label{
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}
.login2-form .login2-content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
.login2-form .login2-content .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
.login2-form .login2-content .login2-input{
  width: 15px;
  height: 15px;
  background: red;
}
.login2-form .login2-content .login2-label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
.login2-form .login2-content .login2-pass-link{
  color: "";
}
.login2-form .login2-field .login2-input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
}
.login2-form .login2-field .login2-input[type="submit"]:active{
  transform: scale(0.95);
}
.login2-form .login2-signup-link{
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
.login2-form .login2-pass-link a,
.login2-form .login2-signup-link a{
  color: #4158d0;
  text-decoration: none;
}
.login2-form .login2-pass-link a:hover,
.login2-form .login2-signup-link a:hover{
  text-decoration: underline;
}