/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
.login12-body{
  display: grid;
  height: 100vh;
  /* height: 100%; */
  width: 100%;
  place-items: center;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}
::selection{
  background: #fa4299;
  color: #fff;
}
.login12-wrapper{
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.login12-wrapper .login12-title-text{
  display: flex;
  width: 200%;
}
.login12-wrapper .login12-title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.login12-wrapper .login12-slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.login12-slide-controls .login12-slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.login12-slide-controls .login12-label.login12-signup{
  color: #000;
}
.login12-slide-controls .login12-slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.login12-input[type="radio"]{
  display: none;
}
#signup:checked ~ .login12-slider-tab{
  left: 50%;
}
#signup:checked ~ .login12-label.login12-signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ .login12-label.login12-login{
  color: #000;
}
#login:checked ~ .login12-label.login12-signup{
  color: #000;
}
#login:checked ~ .login12-label.login12-login{
  cursor: default;
  user-select: none;
}
.login12-wrapper .login12-form-container{
  width: 100%;
  overflow: hidden;
}
.login12-form-container .login12-form-inner{
  display: flex;
  width: 200%;
}
.login12-form-container .login12-form-inner .login12-form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.login12-form-inner .login12-form .login12-field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.login12-form-inner .login12-form .login12-field .login12-input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.login12-form-inner .login12-form .login12-field .login12-input:focus{
  border-color: #fc83bb;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.login12-form-inner .login12-form .login12-field .login12-input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
.login12-form .login12-field .login12-input:focus::placeholder{
  color: #b3b3b3;
}
.login12-form-inner .login12-form .login12-pass-link{
  margin-top: 5px;
}
.login12-form-inner .login12-form .login12-signup-link{
  text-align: center;
  margin-top: 30px;
}
.login12-form-inner .login12-form .login12-pass-link a,
.login12-form-inner .login12-form .login12-signup-link a{
  color: #fa4299;
  text-decoration: none;
}
.login12-form-inner .login12-form .login12-pass-link a:hover,
.login12-form-inner .login12-form .login12-signup-link a:hover{
  text-decoration: underline;
}
.login12-form .login12-btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.login12-form .login12-btn .login12-btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #a445b2, #fa4299, #a445b2, #fa4299);
  border-radius: 5px;
  transition: all 0.4s ease;;
}
.login12-form .login12-btn:hover .login12-btn-layer{
  left: 0;
}
.login12-form .login12-btn .login12-input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}