/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

.login1-body {
    overflow: hidden;
    background: #1abc9c;
}

::selection {
    background: rgba(26, 188, 156, 0.3);
}

.login1-container {
    margin: auto;
    height: 100vh;
    /* max-width: 440px; */
    padding: 0 20px;
}

.login1-wrapper {
    margin:  50px auto;
    width: 50%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.login1-wrapper .login1-title {
    height: 90px;
    background: #16a085;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login1-wrapper .login1-form {
    padding: 30px 25px 25px 25px;
}

.login1-wrapper .login1-form .login1-row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.login1-wrapper .login1-form .login1-row .login1-input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}

.login1-form .login1-row input:focus {
    border-color: #16a085;
    box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}

.login1-form .login1-row .login1-input::placeholder {
    color: #999;
}

.login1-wrapper .login1-form .login1-row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #16a085;
    border: 1px solid #16a085;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login1-wrapper .login1-form .login1-pass {
    margin: -8px 0 20px 0;
}

.login1-wrapper .login1-form .login1-pass a {
    color: #16a085;
    font-size: 17px;
    text-decoration: none;
}

.login1-wrapper .login1-form .login1-pass a:hover {
    text-decoration: underline;
}

.login1-wrapper .login1-form .login1-button .login1-input {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #16a085;
    border: 1px solid #16a085;
    cursor: pointer;
}

.login1-form .login1-button .login1-input:hover {
    background: #12876f;
}

.login1-wrapper .login1-form .login1-signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.login1-wrapper .login1-form .login1-signup-link a {
    color: #16a085;
    text-decoration: none;
}

.login1-form .login1-signup-link a:hover {
    text-decoration: underline;
}